.concept {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px 10px 30px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.concept * {
    color: rgba(31, 37, 29, 0.82);
    color: #cccccc;
}

.concept img {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-weight: 300;
    line-height: 2;
    text-align: center;

    max-width: 300px;
    max-height: 50px;
    position: relative;
}

.concept img::before {
    content: '';
    width: 100%;
    height: calc(100% + 10px);
    background-color: #ccc;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: -2px;
    transform: translateY(-50%);
}

img::after {
    content: "\2639" " " attr(alt);

    font-size: 18px;
    color: rgb(100, 100, 100);

    display: block;
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
}


.concept p {
    text-align: center;
}