* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1  {
    margin: 20px 0;
    text-align: center;
}

.concept-wrapper {
    margin: 20px 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}