* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url("/public/images/x0.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

#root::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    z-index: 0;
}

.container {
    margin: auto;
    /*width: 50%;*/
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 30px;
    gap: 24px;
    font-size: 24px;
}

.player {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 6px;
}

.player button {
    padding: 8px 16px;
    border: 1px solid aliceblue;
    border-radius: 8px;
}

.player input {
    padding: 8px 16px;
    border: 1px solid aliceblue;
    border-radius: 8px;
}

.game-over button {
    padding: 8px 16px;
    border: 1px solid aliceblue;
    border-radius: 8px;
    margin-top: 10px;
}

.game-board {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    Width: 400px;
    justify-content: center;
    gap: 16px;
}

.cell {
    width: 120px;
    height: 120px;
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(56, 56, 56, 0.5);
    color: rgba(48, 218, 255, 0.80);
    border: 2px solid rgba(48, 218, 255, 0.80);
    font-size: 32px;

}